p,ol,li {color:rgb(290,150,190);text-align:justify;}

h1,h2,h3 {color:rgb(290,150,190);text-align:justify;}

div.gallery {
    margin: 5px;
    border: 1px solid rgb(85, 118, 130);
    float: left;
    width: 250px;
    background-color: rgb(75, 108, 120);
}
      
div.gallery img {
  width: 250px;
  height: 250px;
}

div.desc {
  padding: 15px;
  text-align: justify;
  color:rgb(290,150,190);
}

a:link, a:visited {
    color:rgb(290,150,190);
}

body {
    background-color:rgb(200,30,100);
}
